@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">
    
    <h4>Sorting</h4>
    <div>
        <button>Importance</button>
        <button>Rank</button>
    </div>

    <ul class="list-group">
        <li class="list-group-item">
            <a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
                <strong>Add New Item</strong>
            </a>

            <span class="float-right-span">
                <label><input id="isDoneCheckbox" type="checkbox" onchange="todoItemIsDoneCheckbox()" /> Hide done items</label>
            </span>
        </li>

        @foreach (var item in Model.Items.OrderBy(x => x.Importance))
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = "list-group-item-info";
                    break;
                default:
                    contextualClass = "";
                    break;
            }

            <li name="todoItem" class="list-group-item @contextualClass" data-isdone="@Html.Raw(item.IsDone)">
                <div class="row">
                    <div class="col-md-6">
                        <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                            @if (item.IsDone)
                            {
                                <s>@item.Title</s>
                            }
                            else
                            {
                                <text>@item.Title</text>
                            }
                        </a>
                    </div>

                    <div class="col-md-2">
                        <text>@item.Rank</text>
                    </div>

                    <div class="col-md-4 text-right">
                        <small>
                            @item.ResponsibleParty.UserName

                            @if (item.ResponsibleParty.HasGravatarProfile)
                            {
                                <img src="@item.ResponsibleParty.ThumbnailUrl?s=30" />
                            }
                            else
                            {
                                <img src="/images/gravatar-default.jpg" width="30" height="30" />
                            }
                        </small>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>